<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="createdOn">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.appliedDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Applied From </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.fromDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="to">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Applied Till </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.toDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="reason">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Reason </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.reason}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.status}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="remarks">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </mat-header-cell>
        <mat-cell *matCellDef="let leaveData"> {{leaveData.remarks}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let leaveData">
            <button *ngIf="leaveData.status === 'PENDING'" mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="leaveData.status === 'PENDING'" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>
            </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>