mat-card {
  width: 25%;
  min-width: 400px;
  margin: 2em auto;
  text-align: center;
  padding-top: 30px;
  position: absolute;
  left: 6%;
  right: 6%;
  top: 13%;
  background-color: white;
  min-height: 450px;
}

mat-form-field,
input,
button {
  width: 80%;
  font-size: 17px;
}

img {
  height: 70px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}