<mat-card>

  <img src="../../../assets/images/cisco_logo.svg.png" />
  <br>
  <br>
  <mat-card-title class="text-center page-header">Login</mat-card-title>
  <mat-card-subtitle class="text-center">Login with your Cisco crendentials</mat-card-subtitle>

  <form [formGroup]="login" #f="ngForm" (submit)="onLoginSubmit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Login</button>
  </form>

</mat-card>