<mat-grid-list cols="2" rowHeight="fit" class="grid-list">
  <mat-grid-tile colspan="1" rowspan="2">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef> S.No. </mat-header-cell>
        <mat-cell *matCellDef="let adminData"> {{adminData.sno}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userId">
        <mat-header-cell *matHeaderCellDef> User ID </mat-header-cell>
        <mat-cell *matCellDef="let adminData"> {{adminData.userId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let adminData"> {{adminData.name}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <br>
    <form [formGroup]="addAdmin" #f="ngForm" (submit)="onSubmit()">
      <mat-form-field class="form-field">
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Add Admin</button>
    </form>
  </mat-grid-tile>
</mat-grid-list>