<h2 mat-dialog-title><strong>Leave Details</strong></h2>

<mat-dialog-content [formGroup]="applyLeaveForm" #f="ngForm">

    <mat-form-field class="form-date1">
        <input matInput [matDatepicker]="picker" placeholder="From" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-date2">
        <input matInput [matDatepicker]="picker2" placeholder="To" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
        <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" [disabled]="!f.valid" (click)="onApply()">Apply</button>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>