<nav class="navbar navbar-expand-sm navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"> 
                <img id="logo" alt="Logo" src="/assets/images/cisco_logo.png" width="65" height="65"> 
                <span>Cisco Leave Management System</span> 
              </a>
              <!--<a class="navbar-brand" href="#">Cisco Leave Management System</a>-->
            </div>
            <ul class="nav navbar-nav">
              <li>v1.0</li>
            </ul>
          </div>
    </nav>
<div id="main-div">
  <router-outlet></router-outlet>
</div>

