<br>
<form [formGroup]="applyLeave" #f="ngForm" (submit)="onApply()">
    <mat-form-field class="form-date1">
        <input matInput [matDatepicker]="picker" placeholder="From" formControlName="from">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-date2">
        <input matInput [matDatepicker]="picker2" placeholder="To" formControlName="to">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field">
        <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
    </mat-form-field>
    <br>
    <br>
    <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">Apply</button>
</form>





<!--<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-lg-12">

                <div class="form-group row">
                    <div class="col-lg-6">
                        <label for="ex1">From</label>
                        <input class="form-control" id="ex1" type="date">
                    </div>
                    <div class="col-lg-6">
                        <label for="ex2">To</label>
                        <input class="form-control" id="ex2" type="date">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12">
                        <label for="sel1">Leave Type</label>
                        <select class="form-control" id="sel1">
                            <option>Earned Leave</option>
                            <option>Maternal leave</option>
                            <option>Loss of Pay(LOP)</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12">
                        <label for="ex1">Reason</label>
                        <textarea class="form-control" id="ex1"></textarea>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="offset-lg-5">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </section>
</div>-->